{% extends 'base_login.html.twig' %}

{% block page_header %}{{ 'page_titles.set_password'|trans }}{% endblock %}

{% block content %}
{#    {% form_theme form 'bootstrap_5_layout.html.twig' %}#}

    <div class="container">
        <div class="row">
            <div class="col" style="text-align: center;">
                <h1 class="h3 mb-0 text-gray-800">{{ 'page_titles.resend_email'|trans }}</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="p-3 pb-0 col-8 text-justify">
                <p>
                    {{ 'security.activate_account'|trans }}
                </p>
            </div>
            <div class="col-8 p-3">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
