@use "sass:map";

$colors-map: ();
@each $key, $value in $colors {
  $map: ();
  @for $i from 1 through 9 {
    @if $i < 5 {
      $map: map-merge($map, ('$'+#{$key}+'-'+#{$i}+'00': tint-color($value, 10*(-2*$i+10))));
    } @else if $i > 5 {
      $map: map-merge($map, ('$'+#{$key}+'-'+#{$i}+'00': shade-color($value, 10*((2*$i)-10))));
    } @else {
      $map: map-merge($map, ('$'+#{$key}+'-'+#{$i}+'00': $value));
    }
  }
  $colors-map: map-merge($colors-map, $map);
}

@each $key, $value in $colors {
  @for $i from 1 through 9 {
    .bg-#{$key}-#{$i}00 {
      background-color: map.get($colors-map, '$'+#{$key}+'-'+#{$i}+'00');
    }
    .text-#{$key}-#{$i}00 {
      color: map.get($colors-map, '$'+#{$key}+'-'+#{$i}+'00');
    }
  }
}
